.nav-link {
  color: rgba(0,0,0,.5);
}
.nav-link:hover {
  color: rgba(0,0,0,.7);
}
.nav-link .badge {
  transform: translateY(-7px);
  font-size: 60%;
  margin-left: 4px;
}

.card-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.card-subtitle {
  color: rgba(0,0,0,.7);
  color: #666;
  font-size: .85rem;
}
.card-text {
  color: #ababab;
}
